node_red/flows.json
[
  {
    "id": "27c9cb230ed11cce",
    "type": "tab",
    "label": "SIHS Exercise",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b8c867b4769084e0",
    "type": "mqtt in",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/1/lum",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "9e7659d1fea3553f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 200,
    "wires": [["1e84bc13e0645762", "d5d5723e18a557ec"]]
  },
  {
    "id": "7a6cc9b7c6f0a242",
    "type": "debug",
    "z": "27c9cb230ed11cce",
    "name": "Sensor: Temperatura (AR2)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 280,
    "wires": []
  },
  {
    "id": "48089686d7953dfc",
    "type": "mqtt in",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/2/temp",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "9e7659d1fea3553f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 280,
    "wires": [["7a6cc9b7c6f0a242", "b5e2ce955c408bc4"]]
  },
  {
    "id": "a9bb4e358deba64a",
    "type": "mqtt in",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/3/temp",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "9e7659d1fea3553f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 420,
    "wires": [["6f4c9160fd59f40c"]]
  },
  {
    "id": "e94d2a56116f344c",
    "type": "mqtt out",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/2/ac",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9e7659d1fea3553f",
    "x": 480,
    "y": 840,
    "wires": []
  },
  {
    "id": "903c620b0ef53a3c",
    "type": "inject",
    "z": "27c9cb230ed11cce",
    "name": "Ligar",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "/gabriel/comandos",
    "payload": "ligar",
    "payloadType": "str",
    "x": 130,
    "y": 760,
    "wires": [["e94d2a56116f344c", "2317882fe23dd483"]]
  },
  {
    "id": "dd25783678de736e",
    "type": "inject",
    "z": "27c9cb230ed11cce",
    "name": "Desligar",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "/gabriel/comandos",
    "payload": "desligar",
    "payloadType": "str",
    "x": 140,
    "y": 840,
    "wires": [["e94d2a56116f344c", "a785094968dc2af2"]]
  },
  {
    "id": "6f4c9160fd59f40c",
    "type": "debug",
    "z": "27c9cb230ed11cce",
    "name": "Sensor: Temperatura (AR3)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 420,
    "wires": []
  },
  {
    "id": "1e84bc13e0645762",
    "type": "debug",
    "z": "27c9cb230ed11cce",
    "name": "Sensor: Luminosidade",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 200,
    "wires": []
  },
  {
    "id": "42e7d619b6e9aa48",
    "type": "mqtt out",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/3/ac",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9e7659d1fea3553f",
    "x": 480,
    "y": 1100,
    "wires": []
  },
  {
    "id": "f70a8e473984a8d8",
    "type": "inject",
    "z": "27c9cb230ed11cce",
    "name": "Ligar",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "/gabriel/comandos",
    "payload": "ligar",
    "payloadType": "str",
    "x": 130,
    "y": 1020,
    "wires": [["42e7d619b6e9aa48"]]
  },
  {
    "id": "401d1476e79e0a4f",
    "type": "inject",
    "z": "27c9cb230ed11cce",
    "name": "Desligar",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "/gabriel/comandos",
    "payload": "desligar",
    "payloadType": "str",
    "x": 140,
    "y": 1100,
    "wires": [["42e7d619b6e9aa48", "4d7955bcee0e94fe"]]
  },
  {
    "id": "76a257f336d20ed9",
    "type": "comment",
    "z": "27c9cb230ed11cce",
    "name": "Acompanhando o valor dos sensores",
    "info": "",
    "x": 210,
    "y": 100,
    "wires": []
  },
  {
    "id": "b27e94fcdcae94c8",
    "type": "comment",
    "z": "27c9cb230ed11cce",
    "name": "Painel de controle",
    "info": "",
    "x": 150,
    "y": 660,
    "wires": []
  },
  {
    "id": "224d98ef6ca98f66",
    "type": "comment",
    "z": "27c9cb230ed11cce",
    "name": "manual",
    "info": "",
    "x": 110,
    "y": 700,
    "wires": []
  },
  {
    "id": "63a6688c09d96244",
    "type": "comment",
    "z": "27c9cb230ed11cce",
    "name": "automático",
    "info": "",
    "x": 910,
    "y": 300,
    "wires": []
  },
  {
    "id": "7a9f8cb24919aadc",
    "type": "mqtt in",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/1/lum",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "9e7659d1fea3553f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 970,
    "y": 360,
    "wires": [["7568e3b2b9ac0663"]]
  },
  {
    "id": "7568e3b2b9ac0663",
    "type": "switch",
    "z": "27c9cb230ed11cce",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "500",
        "vt": "str"
      },
      {
        "t": "gte",
        "v": "500",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1200,
    "y": 360,
    "wires": [["a90f859d0f20f84e"], ["c442c7144b62e970"]]
  },
  {
    "id": "3295c8c2483c0110",
    "type": "mqtt out",
    "z": "27c9cb230ed11cce",
    "name": "",
    "topic": "/sihs/equipe-gab-nando/1/luz",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9e7659d1fea3553f",
    "x": 1570,
    "y": 360,
    "wires": []
  },
  {
    "id": "a90f859d0f20f84e",
    "type": "change",
    "z": "27c9cb230ed11cce",
    "name": "Ligar",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "ligar",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1340,
    "y": 320,
    "wires": [["3295c8c2483c0110"]]
  },
  {
    "id": "c442c7144b62e970",
    "type": "change",
    "z": "27c9cb230ed11cce",
    "name": "Desligar",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "desligar",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1350,
    "y": 400,
    "wires": [["3295c8c2483c0110"]]
  },
  {
    "id": "5fc85b2d4e1016e3",
    "type": "comment",
    "z": "27c9cb230ed11cce",
    "name": "Se menor que 500 ligar luz, caso contrário, desligar luz ",
    "info": "",
    "x": 1350,
    "y": 260,
    "wires": []
  },
  {
    "id": "d5d5723e18a557ec",
    "type": "ui_gauge",
    "z": "27c9cb230ed11cce",
    "name": "Luminosidade",
    "group": "dashboard_group",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Luminosidade",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "10000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 480,
    "y": 140,
    "wires": []
  },
  {
    "id": "b5e2ce955c408bc4",
    "type": "ui_chart",
    "z": "27c9cb230ed11cce",
    "name": "Temperatura AR2",
    "group": "dashboard_group",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Temperatura AR2",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 490,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "2317882fe23dd483",
    "type": "ui_button",
    "z": "27c9cb230ed11cce",
    "name": "Ligar Ar Condicionado 2",
    "group": "dashboard_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Ligar Ar Condicionado 2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "ligar",
    "payloadType": "str",
    "topic": "/sihs/equipe-gab-nando/2/ac",
    "topicType": "msg",
    "x": 470,
    "y": 780,
    "wires": [[]]
  },
  {
    "id": "a785094968dc2af2",
    "type": "ui_button",
    "z": "27c9cb230ed11cce",
    "name": "Desligar Ar Condicionado 2",
    "group": "dashboard_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Desligar Ar Condicionado 2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "desligar",
    "payloadType": "str",
    "topic": "/sihs/equipe-gab-nando/2/ac",
    "topicType": "msg",
    "x": 480,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "95895a16e1f37fd0",
    "type": "ui_button",
    "z": "27c9cb230ed11cce",
    "name": "Ligar Ar Condicionado 3",
    "group": "dashboard_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Ligar Ar Condicionado 3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "ligar",
    "payloadType": "str",
    "topic": "/sihs/equipe-gab-nando/3/ac",
    "topicType": "msg",
    "x": 470,
    "y": 1040,
    "wires": [[]]
  },
  {
    "id": "4d7955bcee0e94fe",
    "type": "ui_button",
    "z": "27c9cb230ed11cce",
    "name": "Desligar Ar Condicionado 3",
    "group": "dashboard_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Desligar Ar Condicionado 3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "desligar",
    "payloadType": "str",
    "topic": "/sihs/equipe-gab-nando/3/ac",
    "topicType": "msg",
    "x": 480,
    "y": 1160,
    "wires": [[]]
  },
  {
    "id": "9e7659d1fea3553f",
    "type": "mqtt-broker",
    "name": "SIHS Exercise",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Sensores e Controle",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Controle e Monitoramento",
    "icon": "dashboard",
    "order": 1
  }
]
